/* Regular */
@font-face {
    font-family: 'Intel One Mono';
    src: url('/static/fonts/intel-one-mono/IntelOneMono-Regular.woff2') format('woff2');
    font-weight: 400; /* Regular */
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'Intel One Mono';
    src: url('/static/fonts/intel-one-mono/IntelOneMono-Medium.woff2') format('woff2');
    font-weight: 500; /* Medium */
    font-style: normal;
}

/* Medium Italic */
@font-face {
    font-family: 'Intel One Mono';
    src: url('/static/fonts/intel-one-mono/IntelOneMono-MediumItalic.woff2') format('woff2');
    font-weight: 500; /* Medium */
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'Intel One Mono';
    src: url('/static/fonts/intel-one-mono/IntelOneMono-Light.woff2') format('woff2');
    font-weight: 300; /* Light */
    font-style: normal;
}

/* Light Italic */
@font-face {
    font-family: 'Intel One Mono';
    src: url('/static/fonts/intel-one-mono/IntelOneMono-LightItalic.woff2') format('woff2');
    font-weight: 300; /* Light */
    font-style: italic;
}

/* Italic */
@font-face {
    font-family: 'Intel One Mono';
    src: url('/static/fonts/intel-one-mono/IntelOneMono-Italic.woff2') format('woff2');
    font-weight: 400; /* Regular */
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Intel One Mono';
    src: url('/static/fonts/intel-one-mono/IntelOneMono-Bold.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'Intel One Mono';
    src: url('/static/fonts/intel-one-mono/IntelOneMono-BoldItalic.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: italic;
}
